//set general font settings
@mixin font-basics {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

// Sets containers to flex
@mixin container-setup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
}

header {
    @include container-setup();

    background-color: purple;
    border-radius: 25px;
    margin: 10px;


    h1 {
        @include font-basics();
    }
}


main {
    @include container-setup();
    background-color: purple;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    // Set image on homepage to change when you hover over it
    @keyframes changeImage {
        from {
            background-image: url("../images/portrait.jpg");
        }

        to {
            background-image: url("../images/portrait2.jpg");
        }
    }

    //Animation for smoother transition 
    #img {
        background-image: url("../images/portrait.jpg");
        display: block;
        width: 300px;
        height: 400px;
        margin-top: 10px;
        border-radius: 25px;
        background-size: 300px 400px;
    }

    #img:hover {
        animation-name: changeImage;
        animation-duration: 3s;
        // Stops animation at last frame while hovering
        animation-fill-mode: forwards;
    }

    img {
        display: block;
        width: 40%;
        margin-top: 10px;
    }

    h3 {
        @include font-basics();
    }

    p {
        @include font-basics();
    }

    article {
        display: flex;
        align-items: center;
        background-color: rgba(68, 2, 68, 0.4);
        border-radius: 25px;
        width: 95%;
        margin: 6px;

        img {
            padding-top: 10px;
        }

        h1 {
            @include font-basics()
        }
    }
}

footer {
    color: white;
}


//   NavBar
nav {
    @include container-setup();
    height: 85px;
    background-color: #333;
    overflow: hidden;
    display: flex;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    flex: 1;
}

nav a:hover {
    background-color: purple;
}


/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* Desktop */
@media only screen and (min-width:961px) {
    header {
        h1 {
            font-size: 50px;
        }
    }

    main {
        h3 {
            font-size: 40px;
        }

        p {
            font-size: 30px;
        }

        img {
            margin-top: 20px;
            border-radius: 25px;
        }
    }
}