.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(68, 2, 68, 0.4);
  border-radius: 25px;
  margin: 15px;
  width: 95%;
}

header {
  width: 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: black;
  background-color: lightskyblue;
  border-radius: 25px;
  margin: 10px;
}

header h1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  width: 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: black;
  background-color: lightskyblue;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main #img img {
  display: block;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 25px;
  background-size: 300px 400px;
}

main #img img:last-child {
  display: none;
}

main #img:hover img:last-child {
  display: block;
}

main #img:hover img:first-child {
  display: none;
}

main img {
  display: block;
  width: 40%;
}

main h3 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(68, 2, 68, 0.4);
  border-radius: 25px;
  margin: 15px;
}

main article img {
  padding-top: 10px;
}

main article h1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  margin: 5px;
}

footer {
  display: block;
  color: white;
  margin: 0;
  padding: 1rem;
}

nav a:hover {
  background-color: lightskyblue;
}

/* Tablet */
@media only screen and (min-width: 320px) and (max-width: 960px) {
  main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: hidden;
    width: auto;
  }
  header {
    width: auto;
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  header h1 {
    font-size: 50px;
  }
  main h3 {
    font-size: 40px;
  }
  main p {
    font-size: 30px;
  }
  main img {
    margin: 20px;
    width: 300px;
    border-radius: 25px;
  }
}
/*# sourceMappingURL=style.css.map */