//set general font settings
@mixin font-basics {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

// Sets containers to flex
@mixin container-setup {
    width: 97.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
}

.background{
    display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(68, 2, 68, 0.4);
        border-radius: 25px;
        margin: 15px;
        width: 95%;
}

body {
    //overflow-x: hidden;
}

header {
    @include container-setup();

    background-color: lightskyblue;
    border-radius: 25px;
    margin: 10px;


    h1 {
        @include font-basics();
    }
}


main {
    @include container-setup();
    background-color: lightskyblue;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-content: center;


    //Animation for smoother transition 
    #img {
        img{
            display: block;
            width: 300px;
            height: 400px;
            margin: 10px;
            border-radius: 25px;
            background-size: 300px 400px;
        }
        img:last-child{display:none}

    }

    #img:hover {
        img:last-child{display:block}
        img:first-child{display:none}
    }

    img {
        display: block;
        width: 40%;
        // margin-top: 10px;
    }

    h3 {
        @include font-basics();
    }

    p {
        @include font-basics();
    }


    article {
        display: flex;
        align-items: center;
        background-color: rgba(68, 2, 68, 0.4);
        border-radius: 25px;
        margin: 15px;


        img {
            padding-top: 10px;
        }

        h1 {
            @include font-basics()
        }
    }
}


.buttons{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.button{
    margin:5px
}

footer {
    display: block;
    color: white;
    margin: 0;
    padding: 1rem;
}

nav a:hover {
    background-color: lightskyblue;
}


/* Tablet */
@media only screen and (min-width: 320px) and (max-width: 960px) {
    main{
        flex-wrap: wrap;
        overflow-x: hidden;
        width: auto;
    }
    header{
        width: auto
    }
}

/* Desktop */
@media only screen and (min-width:961px) {
    header {
        h1 {
            font-size: 50px;
        }
    }

    main {
        h3 {
            font-size: 40px;
        }

        p {
            font-size: 30px;
        }

        img {
            margin: 20px;
            width: 300px;
            border-radius: 25px;
        }
    }
}


//Form 
form{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 90%
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize:none /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button:hover {
    background-color: #45a049;
  }
