body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #333;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: black;
  background-color: purple;
  border-radius: 25px;
  margin: 10px;
}

header h1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: black;
  background-color: purple;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@-webkit-keyframes changeImage {
  from {
    background-image: url(/images/portrait.jpg);
  }
  to {
    background-image: url(/images/portrait2.jpg);
  }
}

@keyframes changeImage {
  from {
    background-image: url(/images/portrait.jpg);
  }
  to {
    background-image: url(/images/portrait2.jpg);
  }
}

main #img {
  background-image: url(/images/portrait.jpg);
  display: block;
  width: 300px;
  height: 400px;
  margin-top: 10px;
  border-radius: 25px;
  background-size: 300px 400px;
}

main #img:hover {
  -webkit-animation-name: changeImage;
          animation-name: changeImage;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

main img {
  display: block;
  width: 40%;
  margin-top: 10px;
}

main h3 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(68, 2, 68, 0.4);
  border-radius: 25px;
  width: 95%;
  margin: 6px;
}

main article img {
  padding-top: 10px;
}

main article h1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  color: white;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: black;
  height: 85px;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav a:hover {
  background-color: purple;
}

/* Tablet */
/* Desktop */
@media only screen and (min-width: 961px) {
  header h1 {
    font-size: 50px;
  }
  main h3 {
    font-size: 40px;
  }
  main p {
    font-size: 30px;
  }
  main img {
    margin-top: 20px;
    border-radius: 25px;
  }
}
/*# sourceMappingURL=style.css.map */